@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-size: 14px;
    font-family:'Poppins', sans-serif;
}


.container{
    width: 100%;
    height: calc(100vh);
    background-image: url(../imgs/library.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    max-width: 400px;
    padding: 40px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

.login-form .divider{
    margin-top: 20px;
    margin-bottom: 30px;
}

.login-form .details{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form .details i{
    font-size: 40px;
    font-weight: 600;
    color: #9d0208;
    text-align: center;
}

.login-form .details .signin{
    color: #9d0208;
    font-size: 36px;
    font-weight: 500;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid black;
}

label{
    margin-right: 20px;
}

.btn{
    width: 100%;
    padding: 10px;
    margin: 10px 0 16px 0;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid black;    
    background: #9d0208;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    background: #9d0208 ;
}

.forgot{
    text-align: center;
    font-size: 12px;
}

.error{
    color: red;
    text-align: center;
    line-height: 20px;
    padding-top: 8px;
}




.wrappers .side-bar{
    width: 250px;
    height: calc(100vh);
    position: fixed;
    overflow: hidden;
    background-color: #6a040f;
    padding: 22px 0;

}


.wrappers .side-bar .logo-details{
    display: flex;
    justify-content: space-around;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 22px;
    font-size: 20px;
    font-weight: 800;
}
.wrappers .side-bar .logo-details .bxs-user-circle{
    font-size: 30px;
}

.wrappers .side-bar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(225, 225, 225, 0.05);
}

.wrappers .side-bar ul li a{
    color: white;
    display: block;
    text-decoration: none;
}

.wrappers .side-bar ul li:hover{
    background: #9d0208;
}

.wrappers .side-bar ul li .bx{
    width: 25px;

}

.wrappers .side-bar .line{
    margin: 10px auto;
    width: 90%;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
}

.wrappers .side-bar .active{
    background: #9d0208;
}

#logout{
    position: absolute;
    bottom: 0;
}


.wrappers .main-content {
    width: 100%;
}

.wrappers .main-content .header {
    padding: 20px;
    background: #6d5d04;
    color: white;
    border-bottom: 1px solid gray;
}

.home-section {
    position: relative;
    background-color: #f5f5f5;
    min-height: calc(100vh);
    width: calc(100% - 250px);
    left: 250px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 74px;
    background-color: white;
    color: #6a040f;
    align-items: center;
    position: fixed;
    width: calc(100% - 250px);
    left: 250px;
    z-index: 999;
    padding: 0 20px;
    border-bottom: 1px solid #6d5d04;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.home-section nav .side-bar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .side-bar-button i {
    font-size: 25px;
    margin-right: 10px;
}

.home-section .profile-details {
    font-size: 30px;
}

.home-section .profile-details .bxs-user-circle {
    font-size: 50px;
    margin-right: 15px;
    margin-top: 10px;
}

.home-content .dashboard-boxes{
    margin-bottom: 26px;
    padding-top: 120px;
}

.home-content .dashboard-boxes h1{
    margin-left: 74px;
    margin-bottom: 20px;
    font-size: 2em;
}

.home-content .dashboard-boxes .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
    padding-top: 20px;
    height: 100px;
}

.home-content .dashboard-boxes .row .inner{

    width: 300px;
    height: 100px;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.wrappers .side-bar ul li .fa-mail-forward, .fa-mail-reply{
    margin-right: 10px;
}
.home-content{
    height: 1pxbd268;
}


.table-container{
    padding-top: 20px;
}
.table-container .table-heading {
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
    margin-bottom: 20px;
}

.table-title {
    font-weight: solid;
    font-size: 20px;
    text-align: left;
    color: #333;
    margin: 20px 0;
    display: inline;
}

.table-container {
    position: relative;
    top: 80px;
    padding: 40px;
}

.table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    overflow: auto;
}

th,
td {
    padding: 8px;
    font-size: 14px;
}

thead {
    background-color: #6a040f;
    color: #fff;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 2%;
    
}

thead th {
    width: auto;
    height: fit-content;
    
}


tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

tr .action,
th .action {
    text-align: left;
}

tr div.action {
    display: flex;
    justify-content: left;
}

td a {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    margin: 4px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.button {
    background-color: #9d0208;
    color: white;
    border: none;
}

.button:hover {
    opacity: 0.9;
}

.table-container .button {
    width: fit-content;
}

a.button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
}

.form.add-form .button {
    display: block;
    margin: 0 0 0 auto;
}

.btn-flat:active {
    background-color: #9d0208;
    color: #fff;
}

.btn-flat:hover{
    background-color: #286090;
    color: #fff;
}

.ldl{
    text-transform: uppercase;
    font-size: 1em;
    margin-left: -50px;
}


.small-box {
    height: 300px;
}

.small-box h3{
    font-size: 2em;
}

.small-box .small-box-footer {
    margin-top: 100px;
}

.small-box .icon{
    color: white;
}

.table-heading .btn-flat:active{
    background-color: #9d0208;
}

.search{
    display: inline-block;
}

form.example{
    position: relative;
    display: flex;
    width: 50%;
}

form.example .submit{
    width: 9%;
    padding: 10px 10px 10px 10px;
    height: 50px;
    margin-top: 9px;
    cursor: pointer;
    font-size: 20px;
}
form.example .submit:hover {
    background-color: #286090;
    color: #fff;
    border: none;
}

#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 15px 20px 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 1px;
}

#append{
    margin-left: -150px;
    width: 558px;
}

.pull-left {
    margin-left: 6px;
    width: 560px;
}

.alert-dismissible{
    position: absolute;
    z-index: 999;
}

.table-book {
    margin-top: 50px;
}

.categ {

    width: 200px;
    
}

tr .action,
th .action {
    text-align: center;
}

tr td.action {
    display: flex;
    justify-content: center;
    gap: 5px;
}

td button {

    font-size: 22px;
    border-radius: 5px;
    margin: 4px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.actions{
    font-size: 15px;
    padding: 0;
    margin: 0;
    height: 25px;
    
}

.box-headers{
    height: 25px;

}
.categ{
    display: flex;
    justify-items: center;
    align-items: center;
}

.action-borrows{
    margin: 0px 0px 0px 8px;
    padding: 0px 5px 0px 5px;
    height: 25px;
    width: 25px;
}

